*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}

.container{
    width:80%;
    margin:40px auto;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

h1{
    text-align:center;
    color:#2c3e50;
    margin-bottom:20px;
}

h2{
    margin-top:25px;
    margin-bottom:10px;
    color:#34495e;
}

p{
    line-height:1.7;
}

ul,ol{
    margin-left:25px;
    margin-top:10px;
}

li{
    margin:8px 0;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:15px;
}

table,th,td{
    border:1px solid #ccc;
}

th{
    background:#2c3e50;
    color:white;
}

th,td{
    padding:12px;
    text-align:left;
}